# =====Folders=====
.gradle/
.idea/
.settings/
.vscode/
bin/
build/
logs/
out/

# =====Files=====
*.iml
*.sqlite
*.db
*.yaml
*.old
*.json
*.csv
.classpath
.project

# =====Project=====
!resources/
!Gems.json
!Equipment.json
release/