name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  gradle-tests:
    name: Gradle Tests

    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 21
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.os }}
    steps:
       #----------------------------------------------
      - name: Checkout repository
        uses: actions/checkout@v6
       #----------------------------------------------
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: gradle
       #----------------------------------------------
      - name: Run Gradle tests
        run: ./gradlew clean test --no-daemon
